/* ------------------------------ General -------------------------------------------*/
body {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --main-color: #111c8b;
  color: var(--main-color) !important;
  background-color: #f8fafc;
}

h3 {
  font-size: 16px;
}

.flex-justify-center {
  display: flex;
  justify-content: center;
}

.info {
  color: var(--main-color) !important;
  font-size: 13px;
}

/*---------------------------------------- Remove all products --------------------------- */

.remove-all {
  height: 20px;
  width: 100%;
}

.remove-all .icon-container {
  float: right;
  align-items: center;
  background: #f4fafd;
  border-radius: 20px;
  padding: 0 29px;
}

.remove-all .icon-container:hover {
  cursor: pointer;
}

.icon-container .trash-icon {
  margin-right: 2px;
}

.icon-container .trash-icon::after {
  content: '\e909';
  font-size: 18px;
  color: var(--main-color);
  font-family: 'cora-icons' !important;
}

.removeall-text {
  font-family: 'Montserrat';
  font-size: 11px;
}

/*------------------------------------------ Main cart ----------------------------------- */

.header-container {
  margin-top: 2rem;
  margin-left: auto;
  max-width: 1190px;
}

.cart-more-options {
  display: none !important;
}

.icon-remove.item-remove-ico {
  border-radius: 50%;
  border: 1px solid var(--main-color);
  width: auto;
  padding: 8px 16px;
  position: relative;
}

.product-item {
  border-top: none !important;
}

.table.cart-items thead tr th:nth-child(5) {
  padding: 0;
}

.v-custom-product-item-wrap a {
  max-width: 48px !important;
}

.v-custom-product-item-wrap img {
  width: auto !important;
}

.container-cart {
  max-width: 1190px;
}

.product-name:hover {
  text-decoration: underline;
}

#cart-coupon {
  border-radius: 20px;
}

.cart-template-holder {
  width: 66% !important;
}

td.quantity input {
  border-radius: 20px !important;
  background-color: #def0f8 !important;
}

.summary-template-holder {
  width: 32.5% !important;
  padding: 0 !important;
  display: flex;
  flex-direction: column;
  background: transparent;
  margin-top: 0 !important;
}

.cart-links.cart-links-bottom {
  order: 2;
}

.item-unit-label {
  display: none;
}

.product-item .quantity {
  margin: 0 2rem 0 0 !important;
  border-radius: 20px !important;
  background-color: #def0f8 !important;
}

.icon-minus-sign,
.icon-plus-sign {
  display: flex !important;
}

.icon-minus-sign:hover {
  color: #555 !important;
}

.icon-minus-sign::before {
  font-size: 26px !important;
  content: '\e921' !important;
  line-height: 25px !important;
  color: var(--main-color) !important;
  font-family: 'cora-icons' !important;
}

.icon-plus-sign::before {
  font-size: 26px !important;
  content: '\e920' !important;
  color: var(--main-color) !important;
  font-family: 'cora-icons' !important;
}

.cart-items div {
  display: none;
}

.v-custom-product-item-wrap .best-price {
  display: flex !important;
  flex-direction: column !important;
}

.v-custom-product-item-wrap .product-price {
  display: flex !important;
  flex-direction: column;
}

.new-product-price {
  font-size: 14px;
}

.new-product-real-price-per-unit,
.old-product-price {
  font-size: 11px;
  text-decoration: none;
  color: var(--main-color);
}

.table.cart-items i.icon.icon-remove.item-remove-ico::before {
  content: '\e909';
  font-family: 'cora-icons' !important;
  font-size: 22px;
  color: var(--main-color);
  position: absolute;
  left: 13%;
  top: 9%;
}

/*------------------------------------ summary section --------------------*/
.totalizers-list {
  border-bottom: none !important;
  border-top: none !important;
}

.coupon_title h1 {
  text-align: center;
}

.row-fluid.summary {
  order: 1;
}

#cart-to-orderform {
  border: none;
  background: transparent linear-gradient(167deg, var(--main-color) 0, #e90027 100%);
  padding: 9px 15px;
  max-height: 40px;
  transition: 1s ease !important;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  border-radius: 20px;
}

#cart-to-orderform:hover {
  background: transparent linear-gradient(167deg, #e90027 0, var(--main-color) 100%);
}

.accordion-inner {
  margin-top: 0 !important;
}

.clearfix.cart-links-bottom {
  background: #fff;
  padding: 16px;
  margin-top: 5px;
}

.summary-totalizers.cart-totalizers {
  display: flex;
  flex-direction: column;
}

.summary-totalizers.cart-totalizers .accordion-group {
  background-color: #fff;
}

.forms.coupon-column {
  order: 1;
  background: #fff;
  margin: 5px 0;
  padding: 14px 0;
}

.coupon_title h1 {
  margin: 0 !important;
  padding: 20px 0 !important;
  font-size: 16px !important;
  font-weight: 500 !important;
}

.coupon-label {
  display: inline !important;
  text-align: left;
}

.coupon-label label {
  padding-left: 3rem;
  font-size: 0 !important;
}

.coupon-label label::after {
  content: 'Introdu codul promotional';
  font-size: 10px;
}

.coupon-form .coupon-fields {
  width: 90%;
  margin: 0 auto !important;
}

#cart-coupon {
  margin-right: 0 !important;
  height: 36px !important;
}

#cart-coupon-add:hover {
  background: transparent linear-gradient(167deg, #e90027 0, var(--main-color) 100%);
  transition: 1s ease !important;
}

#cart-coupon-add {
  position: absolute;
  border-radius: 20px;
  right: 0%;
  padding: 0 3.8rem;
  color: #fff;
  background: transparent linear-gradient(167deg, var(--main-color) 0, #e90027 100%);
  border: none;
  height: 36px !important;
  transition: 1s ease !important;
  font-size: 14px;
  font-weight: 700;
}

tfoot tr {
  padding: 0 26px;
}

tfoot .info {
  font-size: 0 !important;
  padding-left: 26px !important;
  font-weight: 400 !important;
  text-align: left !important;
}

tfoot .info::before {
  font-size: 16px !important;
  content: 'Total comanda cu taxe incluse';
}

.srp-summary-result {
  padding: 11px 25px !important;
}

.srp-summary-result .info {
  font-size: 0 !important;
}

.srp-summary-result .info::after {
  font-size: 14px;
  content: 'Livrare';
}

.product-name,
.description,
.monetary,
tfoot .monetary {
  color: var(--main-color) !important;
}

tfoot .monetary {
  font-size: 20px !important;
}

tr.Items {
  padding: 0 25px !important;
}

/*------------------------------------- Terms and conditions section -------------------------- */

.terms_and_conditions {
  background: #fff;
  width: 100%;
  margin-top: 1.25rem;
  border-radius: 20px;
  order: 3;
}

.terms_and_conditions .main_column {
  padding: 10px 40px;
}

.terms_list {
  margin: 0 0 10px 0px !important;
  padding-left: 34px;
}

.terms_list li {
  margin-bottom: 1rem;
}

.terms_list li a {
  color: var(--main-color);
}

.terms_list li::marker {
  unicode-bidi: isolate;
  font-variant-numeric: tabular-nums;
  text-transform: none;
  text-indent: 0px !important;
  text-align: start !important;
  text-align-last: start !important;
}

.terms_action_btn {
  color: #fff;
  background: transparent linear-gradient(167deg, var(--main-color) 0, #e90027 100%);
  text-decoration: none;
  font-size: 12px !important;
  min-width: 160px !important;
  font-weight: 700 !important;
  box-shadow: 0 3px 6px #00000029 !important;
  padding: 7px 15px !important;
  margin: 0 10px 10px 0;
  border-radius: 20px;
  text-align: center;
}

.terms_action_btn:hover {
  color: #fff;
  text-decoration: none;
  background: transparent linear-gradient(167deg, #e90027 0, var(--main-color) 100%);
}

/* ---------------------------------- 990px ---------------------------------------------*/

@media screen and (max-with: 998px) {
  .summary-template-holder {
    margin-top: 0 !important;
  }
}

@media screen and (max-width: 990px) {
  .cart-template.full-cart {
    display: flex;
    flex-direction: column !important;
  }

  .cart-template-holder {
    width: 100% !important;
  }

  .summary-template-holder {
    width: 100% !important;
  }
}

@media screen and (max-width: 690px) {
  .cart-links.cart-links-bottom {
    width: 95% !important;
  }
}

/* -------------------------------------- Profile section ----------------------------*/
.is-corporate-client {
  color: var(--main-color) !important;
}

/*------------------------------------- Email tab ---------------------------------------*/
#btn-go-to-payment,
.btn-submit-wrapper #go-to-shipping {
  background: transparent linear-gradient(167deg, var(--main-color) 0, #e90027 100%);
  font-weight: 700;
}

.summary-template-holder.summary-email {
  width: 100% !important;
}

.client-phone label,
.client-last-name label,
.client-first-name label,
.client-email label {
  color: var(--main-color) !important;
}

.product-name {
  max-width: 12rem;
}

/*------------------------------------- Shipping tab ---------------------------------------*/
.vtex-omnishipping-1-x-linkEdit,
.shp-option-text-label,
.vtex-omnishipping-1-x-shippingSectionTitle,
.ship-receiverName label,
.ship-complement label,
.ship-checkboxNumberLabel label,
.ship-number label,
.delivery-address-title {
  color: var(--main-color) !important;
}
.shp-method-option-active {
  background-color: var(--main-color);
}

.vtex-omnishipping-1-x-deliveryGroup {
  margin-bottom: 2rem;
}

/* -------------------------------------- Payment section -------------------------*/
.orderform-template .cart-template.mini-cart .cart {
  max-height: none !important;
}

#payment-data-submit {
  background: transparent linear-gradient(167deg, var(--main-color) 0, #e90027 100%);
}

.ChangeNumberOfPayments a,
.FormFieldLabel {
  color: var(--main-color) !important;
}
